[[extend 'layout.html']]

<section id="welcome-section">
  <h1>
    > whoami
    <br>
    > A Programmer▌
  </h1>
  <a href="#projects">
    <div class="chevron-arrow">
      <i class="fas fa-chevron-down"></i>
    </div>
  </a>
</section>

<section id="projects">
  <div class="projects-container">
    <a href="https://codepen.io/ferzeg3420/live/eYdbeJL"
       class="project-tile">
      <div class="project-image-container">
        <img class="project-image"
             src="https://assets.codepen.io/5324539/timer.png" />
      </div>
      <div class="project-tile-name"> <!-- Projectile link! -->
        <span class="typewriter">
          % 25 + 5 timer
        </span>
      </div>
    </a>

    <a href="https://codepen.io/ferzeg3420/live/zYKywZp"
       class="project-tile">
      <div class="project-image-container">
        <img class="project-image"
             src="https://assets.codepen.io/5324539/soundMachine.png" />
      </div>
      <div class="project-tile-name"> <!-- Projectile link! -->
        % Sound Machine
      </div>
    </a>

    <a href="https://codepen.io/ferzeg3420/live/oNzJwBg"
       class="project-tile">
      <div class="project-image-container">
        <img class="project-image"
             src="https://assets.codepen.io/5324539/calculator.png">
      </div>
      <div class="project-tile-name"> <!-- Projectile link! -->
        % Javascript Calculator
      </div>
    </a>

    <a href="https://codepen.io/ferzeg3420/live/vYKbaqM"
       class="project-tile">
      <div class="project-image-container">
        <img class="project-image"
             src="https://assets.codepen.io/5324539/console.png">
      </div>
      <div class="project-tile-name"> <!-- Projectile link! -->
        % Console Survey
      </div>
    </a>

    <a href="https://codepen.io/ferzeg3420/live/yLJZQgY" class="project-tile">
      <div class="project-image-container">
        <img class="project-image"
             src="https://assets.codepen.io/5324539/capsule.png">
      </div>
      <div class="project-tile-name"> <!-- Projectile link! -->
        % Capsule Product Page
      </div>
    </a>

    <a href="https://codepen.io/ferzeg3420" class="project-tile maya-background">
      <p class="plus-icon">
        <i class="fas fa-plus"></i>
      </p>
      <div class="project-tile-name"> <!-- Projectile link! -->
        % More Projects
      </div>
    </a>
  </div>
</section>

<section id="contact-section">
  <h1>
    Contact
  </h1>
  <br>
  <a href="mailto:fzegadar@ucsc.edu">
    <i class="fas fa-at"></i>
    Email me
  </a>
  <a href="tel:6502292142">
    <i class="fas fa-mobile"></i>
    Call me
  </a>
  <br>
  <a id="profile-link"
     target="_blank"
     href="https://github.com/ferzeg3420">
    <i class="fab fa-github"></i> Github
  </a>
</section>

